Source: munin-vala-plugins
Section: net
Priority: optional
Maintainer: Thomas Ludwig <moonmaker@gmx.de>
Build-Depends: cdbs (>= 0.4.41), cmake (>= 2.4), debhelper (>= 7.0), doxygen, graphviz, valac (>= 0.10)
Standards-Version: 3.9.2
DM-Upload-Allowed: yes
Homepage: http://ludwig.im
Vcs-Git: git://github.com/MoonMaker/Munin-Vala-Plugins
Vcs-Browser: http://bazaar.launchpad.net/~moonmaker/munin/trunk/files

Package: munin-vala-plugins
Depends: munin-node
Priority: optional
Architecture: any
Homepage: http://ludwig.im
Description: Plugins for Munin written in VALA
 This is a test

Package: munin-vala-plugins-bin
Architecture: any
Depends: munin-vala-plugins
Description: Plugins for Munin written in VALA: 
 This is a test
 .
 
