#!/usr/bin/make -f

# CDBS
include /usr/share/cdbs/1/rules/buildcore.mk
include /usr/share/cdbs/1/rules/buildvars.mk
include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/class/cmake.mk

# Architecture
DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_BUILD_ARCH ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH)
DEB_HOST_ARCH  ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)

# Config
DEB_CMAKE_NORMAL_ARGS = \
	-DCMAKE_BUILD_TYPE:STRING="Release" \
	-DCMAKE_VERBOSE_MAKEFILE=ON \
	-DCMAKE_INSTALL_PREFIX:PATH="/usr" \
	-DBUILD_DOCUMENTATION=OFF \
	-DBUILD_INSTALLER=OFF \
	-DHOST_GNU_TYPE="$(DEB_HOST_GNU_TYPE)" \
	-DHOST_ARCH="$(DEB_HOST_ARCH)" \
	-DBUILD_GNU_TYPE="$(DEB_BUILD_GNU_TYPE)" \
	-DBUILD_ARCH="$(DEB_BUILD_ARCH)"


# Build Dir
BUILDDIR = build

# secondly called by launchpad
build:
	mkdir $(BUILDDIR);
	cd $(BUILDDIR); cmake $(DEB_CMAKE_NORMAL_ARGS) ..
	make -C $(BUILDDIR)

# thirdly called by launchpad
binary: binary-indep binary-arch

binary-indep:
	# nothing to be done

binary-arch:
	cd $(BUILDDIR); cmake -P cmake_install.cmake ..
	mkdir debian/tmp/DEBIAN
	dpkg-gencontrol -pgreet-the-world
	dpkg --build debian/tmp ..

# firstly called by launchpad
clean::
	rm -f build
	rm -rf $(BUILDDIR)

.PHONY: binary binary-arch binary-indep clean


