#!/usr/bin/make -f

DEBUG = debug_build
RELEASE = release_build
CFLAGS =
CPPFLAGS =
CXXFLAGS =
FFLAGS =
LDFLAGS =

configure-debug:
	cmake -E make_directory $(DEBUG)
	cd $(DEBUG); cmake -DCMAKE_BUILD_TYPE=Debug ..
	touch configure-debug

configure-release:
	cmake -E make_directory $(RELEASE)
	cd $(RELEASE); cmake -DCMAKE_BUILD_TYPE=Release ..
	touch configure-release

build: build-arch

build-arch: configure-release
	$(MAKE) --no-print-directory -C $(RELEASE) preinstall
	touch build-arch

build-indep: configure-release
	$(MAKE) --no-print-directory -C $(RELEASE) documentation
	touch build-indep

binary: binary-arch binary-indep

binary-arch: build-arch
	cd Debug; cmake -DCOMPONENT=Unspecified -DCMAKE_INSTALL_PREFIX=../debian/tmp/usr -P cmake_install.cmake
	cmake -E make_directory debian/tmp/DEBIAN
	dpkg-gencontrol -pmunin-vala-plugins -Pdebian/tmp
	dpkg --build debian/tmp ..
	cd Debug; cmake -DCOMPONENT=bin -DCMAKE_INSTALL_PREFIX=../debian/bin/usr -P cmake_install.cmake
	cmake -E make_directory debian/bin/DEBIAN
	dpkg-gencontrol -p -Pdebian/bin
	dpkg --build debian/bin ..

binary-indep: build-indep

clean:
	cmake -E remove_directory $(DEBUG)
	cmake -E remove_directory $(RELEASE)
	cmake -E remove configure-debug configure-release build-arch build-indep

.PHONY: binary binary-arch binary-indep clean
